---
import Layout from "../layouts/Layout.astro";
import Setup from "../components/Setup.astro";
import Support from "../components/Support.astro";
import Actions from "../components/Actions.astro";
import Donate from "../components/Donate.astro";
import { YouTube } from "@astro-community/astro-embed-youtube";
---

<Layout path="">
  <main class="sm:container sm:mx-auto mx-4 mt-3">
    <!--<h1
      class="flex flex-col version text-center text-5xl p-4 mt-8 mb-4 font-extralight rounded-lg"
    >
      <span>Version <span class="font-bold">2.0.4</span> soon!</span>
      <a class="text-2xl mt-2 underline" href="/changelog">See changelog</a>
    </h1>-->
    <h4 class="mb-4 text-6xl font-medium text-center md:text-left">Preview</h4>
    <div class="mb-4">
      <YouTube
        id="ozIY1Ucgm7U"
        poster="https://i.ytimg.com/vi/ozIY1Ucgm7U/maxres1.jpg"
      />
    </div>
    <Setup />
    <Actions />
    <Support />
    <Donate />
  </main>
</Layout>

<style>
  lite-youtube {
    width: 100%;
    max-width: 100%;
  }
  .version {
    background-color: var(--accent);
    color: black;
    mix-blend-mode: screen;
  }
</style>
