---
import Layout from "../layouts/Layout.astro";
import Setup from "../components/Setup.astro";
import Support from "../components/Support.astro";
import Actions from "../components/Actions.astro";
import Donate from "../components/Donate.astro";
---

<Layout path="">
  <main class="sm:container sm:mx-auto mx-4 mt-3">
    <Setup />
    <Actions />
    <Support />
    <Donate />
  </main>
</Layout>
