---
import Layout from "../layouts/Layout.astro";
import Setup from "../components/Setup.astro";
import Support from "../components/Support.astro";
import Actions from "../components/Actions.astro";
import Donate from "../components/Donate.astro";
---

<Layout>
  <main class="sm:container sm:mx-auto mx-4 mt-8">
    <h4 class="mb-4 text-6xl font-medium text-center md:text-left">Preview</h4>
    <Setup />
    <Actions />
    <Support />
    <Donate />
  </main>
</Layout>
