---
import Card from "./Card.astro";
const items = [
  {
    id: "pull-item",
    name: "Pull/Equip Item",
    description: "Move (or equip) items between characters and vault.",
    taps: {
      single: "pull an item",
      long: "equip an item",
    },
    tags: ["items", "equipment"],
  },
  {
    id: "loadout",
    name: "Equip Loadout",
    description: "Choose and equip any loadout.",
    tags: ["loadout", "equipment"],
    taps: {
      single: "equip the loadout",
      double: "unequip the loadout",
      long: "unequip the loadout",
    },
  },
  {
    id: "search",
    name: "Search",
    description: "Trigger the search with a custom query and multiple pages.",
    tags: ["search", "items", "equipment"],
    taps: {
      single: "trigger search (+equip if set)",
    },
  },
  {
    id: "refresh",
    name: "Refresh DIM",
    description: "Invoke the refresh action on DIM",
    tags: ["ui"],
    taps: {
      single: "trigger action",
    },
  },
  {
    id: "randomize",
    name: "Randomize Character",
    description:
      "Randomize current character loadout (weapons only / full loadout)",
    tags: ["items", "equipment"],
    taps: {
      single: "trigger randomizer",
    },
  },
  {
    id: "app",
    name: "Open DIM",
    description: "Open a specific flavor (stable or beta) DIM application",
    tags: ["utility"],
    taps: {
      single: "open webapp",
    },
  },
  {
    id: "vault",
    name: "Vault",
    description: "Show currencies and vault counter.",
    tags: ["inventory", "counters"],
  },
  {
    id: "postmaster",
    name: "Postmaster",
    description: "Open a specific flavor (app/beta) DIM application.",
    tags: ["utility", "counters"],
    taps: {
      single: "collect items (if set)",
    },
  },
  {
    id: "metrics",
    name: "Metrics",
    description:
      "Show ranking progress (vanguard, crucible, etc) or other metrics.",
    tags: ["progress"],
  },
  {
    id: "max-power",
    name: "Max Power",
    description: "Open a specific flavor (app/beta) DIM application.",
    tags: ["utility", "power", "leveling"],
    taps: {
      single: "maximize the current character",
    },
  },
  {
    id: "farming",
    name: "Farming Mode",
    description: "Turn on/off the DIM farming mode.",
    tags: ["ui"],
    taps: {
      single: "enable/disable",
    },
  },
  {
    id: "rotation",
    name: "Rotation (WIP)",
    description: "Show the daily/weekly rotation of some activities.",
    tags: ["utility", "daily"],
  },
  {
    id: "rotation",
    name: "Solo Mode (WIP)",
    description: 'Enable/disable the "Solo" Mode',
    tags: ["utility", "matchmaking"],
    taps: {
      single: "Turn on/off the solo mode",
    },
  },
  {
    id: "rotation",
    name: "Checkpoints (WIP)",
    description: "Copy an activity checkpoint and customize /join command",
    tags: ["utility", "cp"],
    taps: {
      single: "Copy the checkpoint",
    },
  },
];
---

<h4 class="mb-5 text-6xl font-medium text-center md:text-left">Actions</h4>
<div
  class="grid grid-cols-1 gap-4 xs:grid-cols-2 xs:gap-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 sm:pb-4"
>
  {items.map((item) => <Card {...item} />)}
</div>
