---
---

<h4 class="mb-4 text-6xl font-medium text-center md:text-left">Donate</h4>
<div class="flex justify-evenly md:justify-start md:gap-4 shadow-sm pb-4">
  <a
    href={process.env.PATREON}
    class="bg-[#f96854] rounded-lg text-white flex items-center gap-2"
  >
    <img class="h-4 ml-3" src="/patreon.svg" />
    <span class="flex h-100 p-2 px-4 bg-[rgba(0,0,0,.05)]"
      >Support me on <span class="font-bold ml-1">Patreon</span>
    </span>
  </a>
  <a
    href={process.env.KOFI}
    class="bg-[#13C3FF] rounded-lg text-white flex items-center gap-2"
  >
    <img class="h-4 ml-3" src="/ko-fi.png" />
    <span class="flex h-100 p-2 px-4 bg-[rgba(0,0,0,.05)]"
      >Support me on <span class="font-bold ml-1">Ko-fi</span>
    </span>
  </a>
</div>
