---
import { YouTube } from "@astro-community/astro-embed-youtube";

const items = [
  ["Install the plugin"],
  [
    "Open the <b>DIM settings</b> and enable the <b>Elgato Stream Deck</b> integration module",
  ],
  ["Add an action on the deck and click the <b>Authorize</b> button"],
  ["Confirm the <b>Authentication notification</b> on DIM"],
  ["<b>All done!</b> ✨ You can now configure your actions!"],
];
---
<h4 class="mb-4 text-6xl font-medium text-center md:text-left">
  Installation & Setup
</h4>
<div>
    <a href="https://apps.elgato.com/plugins/com.dim.streamdeck" target="_blank" class="bg-[#0f1c7c] inline-flex mt-4 text-white rounded-lg cursor-pointer hover:shadow-md">
      <div class="flex justify-center items-center p-2 rounded-l-lg bg-[rgba(0,0,0,0.4)]">
        <img class="m-1" width={48} src="/elgato.webp" />
      </div>
      <div class="flex flex-col justify-center p-2 pl-4">
        <span class="font-medium">Install the plugin</span>
        <span class="block opacity-50 mr-4">com.dim.streamdeck</span>
      </div>
    </div>
  </a>
  <div class="flex flex-col lg:flex-row justify-between">
    <div class="flex-1">
      {
        items.map((item, index) => (
          <>
            <div class="flex flex-col align-middle">
              <div class="text-white list-none opacity-90 list-item px-4 py-4">
                {index + 1}) <span set:html={item[0]} />
              </div>
              </div>
            </div>
            <div class="bg-white h-0.5 opacity-10 w-full" />
          </>
        ))
      }
    </div>
    <div class="flex-1 flex mt-4 mb-4 lg:mt-0 lg:ml-8">
      <YouTube id="ph32r0P5pHY" />
    </div>
  </div>
</div>

<style>
  lite-youtube {
    width: 100%;
    max-width: 100%;
  }
</style>
