<a
  href={import.meta.env.DISCORD_INVITE_URL}
  target="_blank"
  class="flex justify-evenly items-center discord shadow-sm my-4 py-8 relative cursor-pointer hover:bg-[#ff7f04]/10 overflow-hidden"
>
  <img src="/discord-mascot.webp" class="ml-4 mr-5 sm:mr-4" />
  <div>
    <h1 class="text-4xl md:text-5xl mr-6 font-bold">DISCORD SERVER</h1>
    <div class="text-white opacity-70 italic text-lg mb-2">
      Support, questions, issues, updates and new ideas!
    </div>
    <div
      class="text-white cursor-pointer px-4 py-1 text-sm font-medium rounded-md border-0 join inline-block"
    >
      JOIN
    </div>
  </div>
</a>

<style>
  .discord {
    border: 3px solid var(--dim);
    border-image: linear-gradient(to right, var(--dim), var(--accent)) 1;
  }
  .discord::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    z-index: 1;
    background-image: url("/discord.webp");
    transform: rotate(-10deg);
    background-size: 64px;
    opacity: 0.05;
  }
  .discord h1 {
    color: var(--dim);
  }
  .discord .join {
    background: linear-gradient(to right, var(--dim), var(--accent));
  }
</style>
