---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="toolbar py-4">
      <img src="/logo.png" class="mx-auto -mb-20" />
    </div>
    <div class="container mx-auto px-4 text-center text-white mt-20">
      <h4 class="text-7xl">DIM</h4>
      <h4 class="text-6xl">
        <small class="font-normal">for Stream Deck</small>
      </h4>
      <p class="mt-4 opacity-80 text-2xl font-light">
        An <b>Elgato Stream Deck</b> plugin to interact with <b
          >Destiny Item Manager</b
        > and <b>Destiny 2</b>
      </p>
      <div class="flex justify-center mt-4 flex-wrap">
        <img
          src="https://github.com/dim-stream-deck/com.dim.streamdeck/actions/workflows/build-plugin.yaml/badge.svg"
          class="mb-2"
        />
        <img
          src="https://img.shields.io/badge/dynamic/json?logo=elgato&label=elgato&query=%24.plugins%5B%3F%28%40.identifier%3D%3D%22com.dim.streamdeck%22%29%5D.downloads&suffix=%20downloads&url=https%3A%2F%2Fappstore.elgato.com%2FstreamDeckPlugin%2Fcatalog.json"
          class="ml-2 mb-2"
        />
        <img
          src="https://img.shields.io/github/v/release/dim-stream-deck/com.dim.streamdeck?label=plugin&logo=github"
          class="ml-2 mb-2"
        />
        <img
          src="https://img.shields.io/github/license/dim-stream-deck/com.dim.streamdeck"
          class="ml-2 mb-2"
        />
      </div>
    </div>
    <slot />
  </body>
</html>
<style is:global>
  :root {
  }
  html {
    font-family: system-ui, sans-serif;
  }

  body {
    background: radial-gradient(
      circle at 50% 70px,
      hsl(240deg, 20%, 28%) 0%,
      hsl(240deg, 27%, 12%) 100%
    );
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  .toolbar {
    background-color: rgba(0, 0, 0, 0.25);
  }
  h4 {
    font-weight: bold;
    background: linear-gradient(#ff7f04, #e8a534);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h3 {
    font-weight: 500;
    color: #ff7f04;
  }
</style>
